@use "../../styles/partials/breakpoints" as *;
@use "../../styles/partials/colors" as *;

// Food Items
.food-items {
  background-color: gray;

  &__header {
    display: flex;
    flex-direction: column;
    background-color: $secondary-color-maxican-red;
    align-items: center;
    justify-content: center;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;

    @include tablet {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__header-link {
    color: white;
    position: absolute;
    left: 16px;
    font-size: 32px;
    padding-top: 8px;
    padding-bottom: 8px;
  }

  &__header-title {
    color: white;

    @include tablet {
      padding-left: 64px;
    }
  }

  &__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  &__item {
    width: 50%;
    position: relative;
    display: inline-block;
    cursor: pointer;
    border: 1px solid white;

    @include tablet {
      width: 33.33%;
    }

    @include desktop {
      width: 25%;
    }

    &:hover {
      border: 4px solid $secondary-color-maxican-red;
    }
  }

  &__image {
    width: 100%;
    display: block;
    height: 100%;
  }

  &__image-description-container {
    position: absolute;
    bottom: 0;
    margin: 0;
    padding: 8px;
    color: white;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: end;
  }

  &__image-description {
  }

  &__image-price {
  }
}
