@use "../../styles/partials/breakpoints" as *;
@use "../../styles/partials/colors" as *;

// Menu
.menu {
  background-color: white;
  margin-left: 16px;
  margin-right: 16px;
  box-shadow: 0 5px 5px gray;
  position: relative;
  top: -64px;
}

